{% extends 'layout.html' %}

{% block index_nav_links %}
    <li class="nav-item nbMenuItem">
        <a href="{{ url_for('register') }}" class="nav-link hover-underline-animation">Sign Up</a>
    </li>
    <li class="nav-item nbMenuItem">
        <a href="{{ url_for('signIn') }}" class="nav-link hover-underline-animation">Sign In</a>
    </li>
{% endblock index_nav_links %}

{% block index_overview %}
    <!--Overview -->
    <section class="bg-white text-dark p-2 text-left">
        <div class="container">
            <br> <!-- Line break -->
            <h1 class="text-center">Firebase Demo</h1>
            <p class="overview-font">This site will demonstrate how to:</p>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item border-0 ordered-List-item-font">Create users using email and password authentication</li>
                <li class="list-group-item border-0 ordered-List-item-font">Log a user in to the site</li>
                <li class="list-group-item border-0 ordered-List-item-font">Create, Read, Update & Delete data</li>
            </ol>
            <hr><br> <!-- Horizontal line and line break -->
        </div>
    </section>
{% endblock index_overview %}